# Ignore virtual environment
venv/

# Ignore environment variables
*.env*
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Alembic migration cache
migrations/__pycache__/
migrations/env.py
migrations/README
migrations/script.py.mako

#Ignore full migrations folder
migrations/

# Ignore editor config files
.vscode/
*.code-workspace

# Ignore reference folders/files
pastfunctions/
reference/

# Ignore specific .py files
app_misc.py

# Ignore log files
*.log
*.log.*
logs/

# Ignore OS-specific/system files
.DS_Store
Thumbs.db

# Ignore temporary/lock/swap files
*.swp
*.swo
*.bak
*.tmp

# Ignore notes
notes/