{% extends "base.html" %}

{% block title %}EtherCS | Inventory{% endblock %}

{% block content %}
{% if inventory %}
  <table>
    <tr>
      {% for item in inventory %}
        <td>
          <img src="{{ item.icon_url }}" alt="{{ item.market_name }}" width="120" height="90">
          <p>{{ item.market_name }}</p>
          
          {% if item.tradable == 1 %}
            <form action="{{ url_for('list_item') }}" method="post">

              <input type="hidden" name="assetid" value="{{ item.assetid }}">
              <input type="hidden" name="classid" value="{{ item.classid }}">
              <input type="hidden" name="instanceid" value="{{ item.instanceid }}">
              
              <input type="hidden" name ="market_name" value="{{ item.market_name }}">
              <input type="hidden" name ="icon_url" value="{{ item.icon_url }}">
              <input type="hidden" name ="inspect_link" value="{{ item.inspect_link }}">

              <input type="number" name="price" step="0.01" min="0.01" max="99999999.99" required>
              <button type="submit">List</button>
            </form>
          {% endif %}

        </td>
        {% if loop.index % 5 == 0 %}
    </tr><tr>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
{% else %}
<p>No items. If inventory is private, you can change it <a href="{{ user.profile_url }}edit/settings/" target="_blank">here</a>.</p>
{% endif %}
{% endblock %}