{% extends "base.html" %}

{% block title %}EtherCS | Settings{% endblock %}

{% block content %}
    {% if user %}
        <button id="connect-wallet-button">Connect Wallet</button>
        <div id="wallet-address" style="margin-top: 10px;"></div>

        <br>
        
        <div>
            <label for="trade-link">Steam Trade Link:</label>
            <input type="text" id="trade-link" placeholder="Enter your Trade Link">
            <button id="save-trade-link">Save</button>
            <a href="#" id="get-trade-link">To get</a>
        </div>

        <br>
        
        <div>
            <label for="steam-api-key">Steam API Key (DEVELOPMENT):</label>
            <input type="text" id="steam-api-key" placeholder="Enter your Steam API key">
            <button id="save-api-key">Save</button>
            <a href="#" id="get-api-key">To get</a>
        </div>

        <div id="settings-message" style="color: green; margin-top: 10px;"></div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
